<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <%- include('../templat/head'); %>
    <%- include('../templat/number'); %>
</head>
<body style="background: lightgray">
    <div class="container mt-5">
        <div class="text-center">
            <h1>TAMBAH MENU</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <form action="/menu" method="post">
                            <div class="form-group">
                                <label for="nama" class="form-label">Nama</label>
                                <input 
                                    type="text" 
                                    id="nama"
                                    name="nama" 
                                    class="form-control"
                                 />
                                <% if (messages.error_nama) { %>
                                <div class="alert alert-danger" role="alert"><%- messages.error_nama %></div>
                                <% } %><br>
                            </div>
                            <div class="form-group">
                                <label for="harga" class="form-label">Harga</label>
                                <input 
                                    type="text" 
                                    id="harga"
                                    name="harga" 
                                    class="form-control number-only"
                                    placeholder="Isikan Angka"
                                />
                                <% if (messages.error_harga) { %>
                                <div class="alert alert-danger" role="alert"><%- messages.error_harga %></div>
                                <% } %><br>
                            </div>
                            <button type="submit" class="btn btn-primary">TAMBAH</button>
                            <a href="/menu" class="btn btn-md btn-secondary">BATAL</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../templat/body'); %>
</body>
</html>

