<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retail</title>
    <%- include('../templat/head'); %>
</head>
<body style="background: lightgray">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">

                <% if (messages.success) { %>
                    <div class="alert alert-success" role="alert"><%- messages.success %></div>
                <% } %>
                
                <% if (messages.error) { %>
                    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                <% } %>

                <div class="card border-0 shadow rounded">
                    <div>
                        <div class="row">
                            <div class="col">
                                <h2>RESTO</h2>
                            </div>
                            <div class="col">
                                <div class="text-end">
                                    <a href="menu" class="btn btn-sm btn-light mb-3">MENU</a>
                                    <a href="daftar" class="btn btn-sm btn-light mb-3">DAFTAR</a>
                                    <a href="retail" class="btn btn-sm btn-light mb-3">RETAIL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center">PRODUK</h1>
                        <a href="retail/new" class="btn btn-md btn-success mb-3">TAMBAH</a>
                        <table class="table table-bordered">
                            <thead>
                              <tr class="text-center">
                                <th scope="col">NO.</th>
                                <th scope="col">NAMA</th>
                                <th scope="col">HARGA BELI</th>
                                <th scope="col">HARGA JUAL</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                                <% if(data.length){
                                    
                                    for(var i = 0; i< data.length; i++) {%>  
                                        <tr class="text-center">
                                            <th scope="row"><%= (i+1) %></th>
                                            <td><%= data[i].nama%></td>
                                            <td><%= data[i].harga_beli%></td>
                                            <td><%= data[i].harga_jual%></td>
                                            <td class="text-center">
                                                <a href="/retail/<%=data[i].id%>/edit" class="btn btn-sm btn-primary">EDIT</a>
                                                <a href="/retail/<%=data[i].id%>/delete" class="btn btn-sm btn-danger">HAPUS</a>
                                            </td>
                                        </tr>
                                    <% }
                                    
                                }else{ %>
                                    <tr>
                                        <td colspan="4">
                                            <div class="alert alert-danger" role="alert">
                                                Data Tidak Ditemukan !
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>    
                            </tbody>
                        </table>  
                        <div>
                            <a href="/retail?take=10&skip=0">1</a>
                            <a href="/retail?teke=10&skip=1">2</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../templat/body'); %>
</body>
</html>

