<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar</title>
    <%- include('../templat/head'); %>
</head>
<body>
    <div class="container text-center">
        <h1>Daftar Pengunjung</h1>
        <div class="container text-end">
            <input type="button" class="btn btn-outline-primary" onclick="location.href='http://localhost:3000/daftar/new';" value="Tambah" />
        </div><br>
        <table class="table table-bordered">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nomor Meja</th>
                      <th scope="col">Jumlah Orang</th>
                      <th scope="col">Waktu Datang</th>
                      <th scope="col">Pelayanan</th>
                      <th scope="col"></th>
                    </tr>
                </thead>
                <% DB.forEach(function(data){ %>
                <tbody class="table align-middle">
                    <tr>
                        <th scope="row"><%= data.id%></th>
                        <td><%= data.nomor%></td>
                        <td><%= data.jumlah%></td>
                        <td><%= data.waktu%></td>
                        <td><%= data.pelayanan%></td>
                        <td> 
                            <a href="/daftar/<%= data.id%>/edit" class="btn btn-outline-info">Ubah</a>
                            <a href="/daftar/<%= data.id%>/delete" class="btn btn-outline-danger">Hapus</a> 
                        </td>
                    </tr>
                </tbody>
                <% }); %>
            </div> 
        </table>
    </div>

    <%- include('../templat/body'); %>
</body>
</html>